* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*.reddit-mono-<uniquifier> {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
